# Owners of repository
/.github/CODEOWNERS @calcof
/README.md @calcof

# Owners for positioning docs
/docs/introduction/ @calcof

# Owners of design guideline docs
/docs/design-guidelines/  @calcof @hjscherer

# Owners of reference implementation docs
/docs/reference-implementation/ @calcof @sebader @msimecek @heoelri @hjscherer @nielsams

# Owners of reference implementation technical artefacts
/src/ @calcof @sebader @msimecek @heoelri @hjscherer @nielsams
